* {
    color: white;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

html {
    background-image: url("../img/bg-itsmhc.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    padding: 10rem 30rem;
}

body {
    background: linear-gradient(to bottom right, rgba(61, 61, 61, 0.9), rgba(0, 0, 0, 1));
    border-radius: 16px;
    box-shadow: 0 4px 30px 2px rgba(0, 0, 0, 0.87);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-top: 5rem;
    padding: 4rem;
}

#kc-header {
    text-align: center;
}



#kc-content {
    padding: 2rem;
}

#kc-page-title {
    text-align: center;
}

/* Login */

#kc-form-login {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

#kc-form-login div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#kc-form-login label {
    font-size: 18px;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#kc-login {
    color: white;
    background: rgb(249, 99, 50);
    padding: 1rem;
    text-align: center;
    background-size: 200% auto;
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    display: block;
    border-style: none;
    width: 100%;
    font-size: 14px;
}

#kc-login:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
}

#kc-login:active {
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 1);
    transform: translateX(1px) translateY(2px);
}


#username {
    border-radius: 30px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    font-size: 14px;
}

#username div {
    padding: 1rem;
}

#username:focus {
    outline: none;
    border: 1px solid rgb(249, 99, 50);
    background: rgba(14, 36, 65, 0.4);
}

#password {
    border-radius: 30px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 14px;
}

#password:focus {
    outline: none;
    border: 1px solid rgb(249, 99, 50);
    background: rgba(14, 36, 65, 0.4);
}

#input-error {
    margin-left: 1rem;
    color: rgb(249, 99, 50);
}

 /* Update Password */

#kc-passwd-update-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

#kc-passwd-update-form div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#kc-passwd-update-form label {
    font-size: 18px;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#password-new {
    border-radius: 30px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 14px;
}

#password-new:focus {
    outline: none;
    border: 1px solid rgb(249, 99, 50);
    background: rgba(14, 36, 65, 0.4);
}

#input-error-password {
    margin-left: 1rem;
    color: rgb(249, 99, 50);
}

#password-confirm {
    border-radius: 30px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 14px;
}

#password-confirm:focus {
    outline: none;
    border: 1px solid rgb(249, 99, 50);
    background: rgba(14, 36, 65, 0.4);
}

#input-error-password-confirm {
    margin-left: 1rem;
    color: rgb(249, 99, 50);
}

#kc-form-buttons input {
    color: white;
    background: rgb(249, 99, 50);
    padding: 1rem;
    text-align: center;
    background-size: 200% auto;
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    display: block;
    border-style: none;
    width: 100%;
    font-size: 14px;
}

#kc-content-wrapper .alert-warning {
    color: rgb(249, 99, 50);
    margin-bottom: 1rem;
    text-align: center;
}
